{% extends 'codecat/_base.html' %}

{% block body %}
<div class="row">

<div class="col-md-4 col-md-offset-4">
    <div class="panel panel-primary">
<div class="page-header">
    <h2 class="text-primary" style="padding-left: 15px;">Sign Up</h2>
</div>
<div class="panel-body">
  <p class="lead">Create an Account As...</p>
  <a href="{% url 'student_signup' %}" class="btn btn-success btn-lg" role="button">Student</a>
  <a href="{% url 'instructor_signup' %}" class="btn btn-danger btn-lg" role="button">Instructor</a>
</div>
        <div>
                <h5 class="" style="padding-left: 15px;">Already Registered? <a href="{% url 'login' %}">Login</a> </h5>
            </div>
</div>

</div>
</div>

{% endblock %}
